@CHARSET "UTF-8";


#left{
	background:#002322;
	width:20%;
	height:100%;
	float:left;
}

#left .operate ul{
	style = ;
}
#right{
	background:;
	width:80%;
	height:100%;
	float:right;
	
}
